*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}
a{
    text-decoration: none !important;
    font-family: 'Mohave', sans-serif;
}
body{
    font-family: 'Mohave', sans-serif;
}
h1,h2,h3,h4,h6,h5{
    font-family: 'Mohave', sans-serif;
}
p{
    font-family: 'Mohave', sans-serif;
}
.Toastify {
    z-index: 9999999;
}